.vs/HogarDeAncianos/v15/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/HogarDeAncianos/v15/.suo
HogarDeAncianos.Bussiness/bin/Debug/HogarDeAncianos.Bussiness.dll
*.pdb
*.dll
*.dll
*.pdb
*.dll
HogarDeAncianos.Bussiness/bin/Debug/HogarDeAncianos.Bussiness.dll
HogarDeAncianos.Bussiness/obj/Debug/HogarDeAncianos.Bussiness.csprojResolveAssemblyReference.cache
HogarDeAncianos/obj/Debug/HogarDeAncianos.pdb
HogarDeAncianos/bin/HogarDeAncianos.pdb